.post-content h3[data-numberify]::before, .post-content [data-numberify].h3::before {
  display: None;
}

#custom_home {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  .h4, h4 {
    font-size: 18px;
  }
  .h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ul, li {
    color: var(--hbs-surface-color);
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: var(--hbs-surface-color);
  }
  h4 small {
    font-size: 75%;
  }
  .h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
  }
  .research {
    padding: 20px 50px;
    background-position: 90% 90%;
    background-repeat: no-repeat;
    background-size: auto 60%;

    .research-title {
      border-left: 5px solid #ebb810;
      padding-left: 20px;
    }
    .research-content {
      padding-left: 25px;
    }
  }
}
